
*   {
    font-family: "Roboto";
}


.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    gap: 20px;
}

.header .logo   {
    max-height: 48px;
    margin-right: 40px;
}


.headlinks a  {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    margin-left: 12px;
}

.headlinks a:hover  {
    text-decoration: underline;
}

.headlogo   {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.introbox   {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
    padding: 100px 15%;
       
}


.herobox h1  {
    margin-top: 0;
    margin-bottom: 5px;
    color: #e5e7eb;     
}

.herobox button {
    font-weight:700;
    display: block;
    background-color: #3882f6;
    color: white;
    border-radius: 8px ;
    padding: 5px 1em 6px;
    margin-top: 8px;
}
.heroimage  {
    width: 500px;
}

.cardtitle  {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 60px;
    

}

.card-box   {
    padding:0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card img {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    object-fit: cover ;
    border: solid 8px #3882f6 ;
    border-radius: 8px;
}