
*   {
    font-family: "Roboto";
}

.header {
    background-color: #1f2937;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.header .logo   {
    max-height: 48px;
}


.headlinks a  {
    color: white;
    text-decoration: none;
    margin: 0 12px;
}

.headlinks a:hover  {
    text-decoration: underline;
}

.headlogo   {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}