
*   {
    font-family: "Roboto";
}


.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    gap: 20px;
}

.header .logo   {
    max-height: 48px;
    margin-right: 40px;
}


.headlinks a  {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    margin-left: 12px;
}

.headlinks a:hover  {
    text-decoration: underline;
}

.headlogo   {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.introbox   {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
    padding: 10% 15%;
       
}


.herobox h1  {
    margin-top: 0;
    margin-bottom: 5px;
    color: #e5e7eb;     
}

.herobox button  {
    font-weight:700;
    display: block;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px ;
    padding: .5em 2em .5em;
    margin-top: 8px;
    border: none;
   
 
}
.heroimage  {
    width: 500px;
}

.cardtitle  {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 60px;
    

}

.card-box   {
    padding:0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 60px;
}

.card   {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img {
    width: 250px;
    height: 250px;
    object-fit: cover ;
    border: solid 8px #3882f6 ;
    border-radius: 20px;
    margin-bottom: 8px;
}

.quotebox   {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e5e7eb;
    padding: 10% 25%;
    margin: 60 0px
}

.quotebox .quote  {
    
    font-size: 36px;
    font-style: italic;
}

.att    {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-top: 10px
}

.footerbox  {
    display: flex;
    padding: 8% 15%;
    justify-content: space-between;
}

.footer     {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    background-color: #3882f6;
    flex: auto;
    padding: 50px 60px;
    border-radius: 16px;
}

.footertext h2  {
    margin:0;
}

.footer button {
    font-weight:700;
    display: block;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px ;
    padding: .5em 2em .5em;
    margin-top: 8px;
    border: 4px solid #e5e7eb;
}